@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');
$font-stack: 'Raleway', sans-serif;
$input-bg: #ffffff;
$primary-color: #d81939;
$font-color: #003d50;
$border-color: #C3C3C3;
$border-color_grey: #d8d8d8;
$standard-width: 100%;
$container-color: #e3e3e3;
