$primary-color: #F3083A;
$bg-color: #1b2332;
$bg-color_2: #C9E4EC;
$bg-color_3: #00151d;
$bg-red: #E52427;


h3 {
  font-style: Graphik;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  line-height: 1.5;
  color: $bg-color_3;
  padding: 0;
  margin: 0;
}

h4 {
  font-style: Graphik;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: $bg-color_3;
  padding: 0;
  margin: 0;
}

p {
  font-style: Graphik;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  color: #1b2332;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: $bg-color_2;
  background-color: #ffffff;
}

.wrapper-title h2 {
  font-style: Graphik;
  font-size: 50px;
  text-align: center;
  color: #2B2C2C;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
}

.wrapper-title-somn h2 {
  font-style: Graphik;
  font-size: 50px;
  text-align: center;
  // color: #2B2C2C;
  color: #ffffff;
  letter-spacing: -0.5px;
  padding: 100px 0 0 0;
  margin: 0;
}

.wrapper-title-somn {
  margin: 60px 0 60px 0;
}

.wrapper-title {
  margin: 100px 0 60px 0;
}

.how-container {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: $bg-color_2;
}

.how-container:nth-child(2) {
  margin: 20px 0 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: $bg-color_2;
}

.why-container-wrapper {
  width: 100%;
  background-color: #ffffff;
  background-color: #1b2231;
}

.why-container {
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: #ffffff;
}

.why-container-text {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 30px 100px 0 100px;
}

.why-container-text p {
  padding: 0 0 20px 0;
  color: #ffffff;
}

.why-container-text h4 {
  color: #ffffff;
}

.why-container-icons-gif {
  width: 60%;
  height: auto;
}

.why-container-text span {
  display: inline-block;
}
.why-container-text span::before {
  content: "\A";
  white-space: pre;;
}

// .why-container-text h4 {
//   font-size: 20px;
//   font-weight: 600;
// }

.lasmer-button {
  margin: 60px 0 20px 0;
}

.how-container-text {
  width: 40%;
  margin: 0 0 150px 0;
}

.how-container-image {
  width: 50%;
  // background-color: pink;
}




.how-container-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 0 40px;
}

.how-container-icons-gender {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.how-container-icons-gender img {
  width: 80%;
  height: auto;
}

.how-container-icons-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-container-image-gender {
  width: 40%;
}

.why-container-icons-gif img {
  width: 80%;
  height: auto;
}

.how-container-text-gender {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: flex-start;
  padding-right: 20px;
  width: 43%;
}

.how-container-icons-text img {
  width: 90%;
  height: auto;
}

.how-container-icons-text p {
  font-weight: 600;
  margin: 20px 0 0 0;
}

.how-container-thread {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 150px 50px 0;
  padding: 0;
}

.how-container-thread img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%;
  height: auto;
  margin: 0;
  padding: 0;
}

.anmal-button  {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
